/* .logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgb(225,255,175),rgb(149, 38, 10));
}
 .container{
    max-width: 955px;
    background-color: red;
    border: 2px solid black;
    border-radius: 3px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y:auto;
    margin-bottom: 23px;
    
 }
 .message{
    background-color: gray;
    width: 24%; 
    padding: 12px;
    margin: 13px 19px;
    border: 3px solid black;
    border-radius: 9px;
}
.Left{
    float: left;
    clear: both;
 }
.Right{
    float: right;
    clear: both;
 }
 #send-container{
    text-align: center;
    max-width: 985px;
    display: block;
    margin: auto;
 }
 #messageInp{
    width: 90%;
    border: 2px solid black;
    border-radius: 4px;
    /* background-color: transparent; */ /* } 
 .btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 2px;
    height: 25px;
 } */


 body { 
   font-family: Arial, sans-serif; 
   text-align: center;
    margin-top: 20px; 
   }
 ul { 
   list-style: none;
    padding: 0;
     max-width: 600px;
      margin: 0 auto; 
   }
 li {
    margin: 5px 0; 
   }
 input {
    padding: 10px; 
    width: 80%;
     margin: 10px 0;
    }
 button{
    padding: 10px;
     cursor: pointer;
    }
 #messages {
    border: 1px solid #ccc;
     padding: 10px; 
     max-height: 300px; 
     overflow-y:auto;
     height: 500px;
    }
    a{
      background-color:red;
      border: 2px solid red;
      color: antiquewhite;
      text-decoration: none;
    }